/* .main__section {
    width: 80%;
    margin:auto;
    max-width: 800px;
    gap: var(--espacio-2);
	padding: var(--espacio-4);
	border-radius: var(--radio);
	background: var(--color-superficie-elevada);
	border: 1px solid var(--color-borde);
	box-shadow: var(--sombra);    
    margin-top: 2em;
} */